
@{
    ViewBag.Title = "Organic Launch Admin Area";
}

<h2>Welcome to Organic Launch</h2>

<div class="wrapper" style="margin: auto; width: 800px; padding-top:20px; text-align:center;">

    <img src="~/Content/Images/farm_area.jpg" width="700" />
    <p style="padding-top:30px;">Start your farm and offer local consumers fresh and sustainable produce.</p>

</div>

