
@{
    ViewBag.Title = "Organic Launch Admin Area";
    ViewBag.Page = "landing";
    var initial = User.Identity.Name[0];
}


<div class="col-sm-6">
    <img src="~/Images/veggies.jpg" width="700" />
</div>
<div class="col-sm-6 landing_intro">
    <span class="initial">@initial</span>
    <h3>Welcome, @Html.Raw(User.Identity.Name)</h3>
    <p>Produce is available at your local farm. Search for local produce to eat organic, affordable, and nutritious food.</p>
</div>
