
@{
    ViewBag.Title = "Organic Launch Admin Area";
}

<h2>Welcome to Organic Launch</h2>

<div class="wrapper" style="margin: auto; width: 800px; padding-top:20px; text-align:center;">

    <img src="~/Content/Images/admin_area.jpg" width="500" />
    <p style="padding-top:30px;">Produce is available at your local farm. Search for local produce to eat organic, affordable, and nutritious food.</p>

</div>

