
/*=========================
    PHONE
=========================*/
@media only screen and (min-width:250px) {

    body,html{width:100%; height:100%;}

    body {
        padding-top: 90px;
        padding-bottom: 20px;
    }

    body.homepage{padding-top: 0px;}
        body.login {
            background-image: url('../Images/blur-blurred-background.jpg');
            background-repeat: no-repeat;
            color:#fff;
        }

        body.login .navbar.navbar-custom.navbar-inverse.navbar-fixed-top{
            background-color: rgba(34, 34, 34, 0.41);
            border-color: transparent;
        }

        body.login footer{color:#fff;}
    /*----------------------- Landing Page Styles*/
    #landing_page {
        text-align: center;
    }

    #landing_page .container div{
        padding:0 5px;
    }

    body.landing .body-content {
        padding:0;
        width:100%;
    }

    body.landing .col-sm-6{
        padding-left:0;
        padding-right:0;
    }

    .landing_intro {
        text-align:center;
        padding: 13% 15px;
    }

    .initial{
        padding: 35px 40px;
        border-radius: 50%;
        font-size: 24px;
        text-transform: uppercase;
        border: 1px solid #ccc;
    }

    .initial + h3{
        margin-top:40px;
    }

    div.navbar-inverse .navbar-nav>li>a{color:#fff}

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand a.navbar-brand{color:#fff}

        #landing_page section {
            padding: 100px 50px;
            overflow:hidden;
        }

    body.homepage header {
        background-image: url('../Images/food-sunset-love-field.jpg');
        background-repeat: no-repeat;
        text-align: center;
        height: 100vh;
        margin-bottom: 100px;
    }

        body.homepage header .header_container {
            color: #fff;
            padding: 20% 20px 0;
        }

        body.homepage header .header_container h1{font-size:6.5rem;}

        .header_a_cont a{
            margin-top: 20px;
            background: transparent;
            padding: 10px 30px;
            border-color: #fff;
            border-width: 1px;
            border-radius: 0;
            text-transform:uppercase;
            font-size:12px;
        }

        .header_a_cont a:hover,
        .header_a_cont a:focus{
            background:transparent;
            border-color:#fff;
        }

        .catcher .catcher_img_cont{
            position:relative;
            padding:0;
        }

        .catcher_img_cont span{
            position: absolute;
            font-size: 20px;
            color: #fff;
            top: 40%;
            left: 40%;
        }

         .navbar-custom {
            padding: 20px 0;
            border-bottom: 0;
            letter-spacing: 1px;
            background: 0 0;
            -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
            -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
            transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

        .homepage .navbar-custom.top-nav-collapse {
            padding: 0;
            border: 0;
            background: #232323;
        }


img{
   width:100%;
}

#landing_page .row p {
    padding: 0 15px;
}

#landing_page .row a {
    width:100%;
    background: transparent;
    color: #73A534;
    border: 1px solid #73A534;
}

#landing_page .row a:hover {
    background-color: #73A534;
    color: #fff;
    border: 1px solid #73A534;
}

.homepage .navbar-inverse {
    border: 0;
    background: rgba(35, 35, 35, 0.44); /*rgba(64, 60, 22, 0.90);*/
}



     /*------------------------- SLIDER STYLES*/
    

    /* ===  Slider Styles === */
    /*section#slider-section {
        padding: 0;
    }*/
    /* Slide in from the right*/
    /*.slider {
        position: relative;
        overflow: auto;
        height: 500px;
    }

        .slider ul {
            padding: 0;
        }

        .slider li {
            list-style: none;
        }

        .slider ul li {
            float: right;
            height: 500px;
        }*/

    /* === Background img's for li === */
        /*.produce {
            background-image: url('../Images/flour-powder-wheat-jar.jpg');
            background-repeat: no-repeat;
       
        }

        .meat {
            background-image: url('../Images/pexels-photo-24413.jpg');
            background-repeat: no-repeat;
        
        }
        .products {
            background-image: url('../Images/healthy-vegetables-restaurant-nature.jpg');
            background-repeat: no-repeat;
        
        }*/
    /* end Background img's for li */

    /*div.slider div {
        padding: 100px 20px;
        text-align: right;
    }

    div.slider h2 {
        text-transform: uppercase;
        font-size: 80px;
    }

    div.slider p {
        font-size: 19px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    li div {
        color: #fff;
    }*/

    /*------------------------- */

    .msg {
        padding: 1em 1.618em;
        margin-bottom: 2.618em;
        margin-left: 0;
        color: #fff;
        clear: both;
        margin-top: 2.618em;
        border-left: .618em solid rgba(0,0,0,.15);
    }

    .error_msg {
        background-color: #831F0F;
    }

    .valid_msg {
        background-color: #0f834d;
    }

    /*---------------------------  RIBBON*/

    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
    @-moz-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
    @-ms-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }

    
    .ribbon-wrapper {
      opacity: 0;
      -webkit-animation: fadeIn .7s ease-in forwards;
      animation: fadeIn .7s ease-in forwards;
      font-size: 20px;
      margin: 40px auto 80px;
    }

    .big {
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      -o-transform: translateY(30px);
      transform: translateY(30px);
      -webkit-animation: fadeIn .7s ease-in forwards;
      animation: fadeIn .7s ease-in forwards;
    }
    .big span {
      width: 100px;
      position: relative;
      display: block;
      background: #e74c3c;
      color: white;
      text-align: center;
      -webkit-box-sizing: border-box;
      min-width: 377px;
      margin:0 auto;
      height: 30px;
      line-height: 30px;
      -webkit-transform-style: preserve-3d;
    }
    .big span:before, .big span:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -7.5px;
      border: 15px solid #d62c1a;
      z-index: -1;
      -webkit-transform: translateZ(-1px);
    }
    .big span:before {
      left: -22.5px;
      border-left-color: transparent;
    }
    .big span:after {
      right: -22.5px;
      border-right-color: transparent;
    }
    .big span span:before, .big span span:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      bottom: -7.5px;
      border-color: #7b190f transparent transparent transparent;
    }
    .big span span:before {
      left: 0;
      border-width: 7.5px 0 0 7.5px;
    }
    .big span span:after {
      right: 0;
      border-width: 7.5px 7.5px 0 0;
    }

     .catcher div{
        padding:5%;
        background:rgba(251, 250, 250, 0.49);
        min-height:170px;
    }
    .catcher div p{
        padding:20px 14px 0;
        text-align:left;
    }

    .who_we_are{
        padding:7% 7% 0 7%;
    }

    footer{
        text-align: center;
        padding: 30px 0;
        margin-top: 25px;
        clear:both;
    }

    .grey_section img{
        height: 350px;
        border-radius: 50%;
        width: 350px;
    }

    div.login_container{
        max-width: 550px;
        margin: 8em auto;
        float: none;
        
        border-radius: 3px;
        background: rgba(51, 51, 51, 0.1);
    }

    div.login_container input[type="submit"]{width:100%;}

    div.login_container form{
        text-align:center;
        padding:40px;
    }

    div.login_container table{width:70px; margin:0 auto;}

    div.login_container .col-md-10{
        float:none;
        margin:0 auto;
    }
  
}


/*=========================
    SMALL TABLET
=========================*/


@media screen and (min-width: 600px) {
  .big {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-animation: fadeIn .7s ease-in forwards;
    animation: fadeIn .7s ease-in forwards;
    font-size: 22px;
  }
  .big span {
    width: 100px;
    position: relative;
    display: block;
    background: #e74c3c;
    color: white;
    text-align: center;
    -webkit-box-sizing: border-box;
    min-width: 377px;
    height: 40px;
    line-height: 40px;
    -webkit-transform-style: preserve-3d;
  }
  .big span:before, .big span:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    border: 20px solid #d62c1a;
    z-index: -1;
    -webkit-transform: translateZ(-1px);
  }
  .big span:before {
    left: -30px;
    border-left-color: transparent;
  }
  .big span:after {
    right: -30px;
    border-right-color: transparent;
  }
  .big span span:before, .big span span:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -10px;
    border-color: #7b190f transparent transparent transparent;
  }
  .big span span:before {
    left: 0;
    border-width: 10px 0 0 10px;
  }
  .big span span:after {
    right: 0;
    border-width: 10px 10px 0 0;
  }
}

/*=========================
    TABLET
=========================*/
@media only screen and (min-width : 768px) {
    img{
        max-width:100%;
        height:auto;
    }

    span.username{
        margin-top: 16px;
        background-color: #252323;
    }

   

}


/*=========================
    DESKTOP
=========================*/

@media screen and (min-width: 900px) {
  .big {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-animation: fadeIn .7s ease-in forwards;
    animation: fadeIn .7s ease-in forwards;
    font-size: 25px;
  }
  .big span {
    width: 100px;
    position: relative;
    display: block;
    background: #EACD0C;
    color: white;
    text-align: center;
    -webkit-box-sizing: border-box;
    min-width: 377px;
    height: 60px;
    line-height: 60px;
    -webkit-transform-style: preserve-3d;
  }
  .big span:before, .big span:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -15px;
    border: 30px solid #C5AD09;
    z-index: -1;
    -webkit-transform: translateZ(-1px);
  }
  .big span:before {
    left: -45px;
    border-left-color: transparent;
  }
  .big span:after {
    right: -45px;
    border-right-color: transparent;
  }
  .big span span:before, .big span span:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -15px;
    border-color: #6F6104 transparent transparent transparent;
  }
  .big span span:before {
    left: 0;
    border-width: 15px 0 0 15px;
  }
  .big span span:after {
    right: 0;
    border-width: 15px 15px 0 0;
  }
}