
/*=========================
    PHONE
=========================*/
@media only screen and (min-width:250px) {

    body,html{width:100%; height:100%;}

    body {
        
        padding-bottom: 20px;
    }
    /*----------------------- Landing Page Styles*/
    #landing_page {
        text-align: center;
    }

        #landing_page section {
            padding: 100px 50px;
        }

    header.homepage {
        background-image: url('../Images/banner_big.png');
        background-repeat: no-repeat;
        text-align: center;
        height: 100vh;
        margin-bottom: 100px;
    }

        header.homepage .header_container {
            color: #fff;
            padding: 350px 20px 0;
        }

        header.homepage .header_container h1{font-size:6.5rem;}

        .header_a_cont a{
            margin-top: 20px;
            background: transparent;
            padding: 5px 50px;
            border-color: #fff;
            border-width: 1px;
            border-radius: 0;
            text-transform:uppercase;
            font-size:12px;
        }

        .header_a_cont a:hover{
            background:transparent;
            border-color:#fff;
        }

img{
   width:100%;
}

#landing_page .row p {
    padding: 0 15px;
}

#landing_page .row a {
    width:100%;
    background: transparent;
    color: #73A534;
    border: 1px solid #73A534;
}

#landing_page .row a:hover {
    background-color: #73A534;
    color: #fff;
    border: 1px solid #73A534;
}

div.navbar-inverse {
    border: 0;
    background: rgba(35, 35, 35, 0.44); /*rgba(64, 60, 22, 0.90);*/
}



     /*------------------------- SLIDER STYLES*/
    

    /* ===  Slider Styles === */
    /*section#slider-section {
        padding: 0;
    }*/
    /* Slide in from the right*/
    /*.slider {
        position: relative;
        overflow: auto;
        height: 500px;
    }

        .slider ul {
            padding: 0;
        }

        .slider li {
            list-style: none;
        }

        .slider ul li {
            float: right;
            height: 500px;
        }*/

    /* === Background img's for li === */
        /*.produce {
            background-image: url('../Images/flour-powder-wheat-jar.jpg');
            background-repeat: no-repeat;
       
        }

        .meat {
            background-image: url('../Images/pexels-photo-24413.jpg');
            background-repeat: no-repeat;
        
        }
        .products {
            background-image: url('../Images/healthy-vegetables-restaurant-nature.jpg');
            background-repeat: no-repeat;
        
        }*/
    /* end Background img's for li */

    /*div.slider div {
        padding: 100px 20px;
        text-align: right;
    }

    div.slider h2 {
        text-transform: uppercase;
        font-size: 80px;
    }

    div.slider p {
        font-size: 19px;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    li div {
        color: #fff;
    }*/

    /*------------------------- */

    .msg {
        padding: 1em 1.618em;
        margin-bottom: 2.618em;
        margin-left: 0;
        color: #fff;
        clear: both;
        margin-top: 2.618em;
        border-left: .618em solid rgba(0,0,0,.15);
    }

    .error_msg {
        background-color: #831F0F;
    }

    .valid_msg {
        background-color: #0f834d;
    }

    /*---------------------------  RIBBON*/

    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
    @-moz-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
    @-ms-keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }

    
    .ribbon-wrapper {
      opacity: 0;
      -webkit-animation: fadeIn .7s ease-in forwards;
      animation: fadeIn .7s ease-in forwards;
      font-size: 20px;
      margin: 40px auto 40px;
    }

    .big {
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -ms-transform: translateY(30px);
      -o-transform: translateY(30px);
      transform: translateY(30px);
      -webkit-animation: fadeIn .7s ease-in forwards;
      animation: fadeIn .7s ease-in forwards;
    }
    .big span {
      width: 100px;
      position: relative;
      display: block;
      background: #e74c3c;
      color: white;
      text-align: center;
      -webkit-box-sizing: border-box;
      min-width: 377px;
      margin:0 auto;
      height: 30px;
      line-height: 30px;
      -webkit-transform-style: preserve-3d;
    }
    .big span:before, .big span:after {
      content: "";
      position: absolute;
      display: block;
      bottom: -7.5px;
      border: 15px solid #d62c1a;
      z-index: -1;
      -webkit-transform: translateZ(-1px);
    }
    .big span:before {
      left: -22.5px;
      border-left-color: transparent;
    }
    .big span:after {
      right: -22.5px;
      border-right-color: transparent;
    }
    .big span span:before, .big span span:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      bottom: -7.5px;
      border-color: #7b190f transparent transparent transparent;
    }
    .big span span:before {
      left: 0;
      border-width: 7.5px 0 0 7.5px;
    }
    .big span span:after {
      right: 0;
      border-width: 7.5px 7.5px 0 0;
    }
  
}


/*=========================
    SMALL TABLET
=========================*/


@media screen and (min-width: 600px) {
  .big {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-animation: fadeIn .7s ease-in forwards;
    animation: fadeIn .7s ease-in forwards;
    font-size: 22px;
  }
  .big span {
    width: 100px;
    position: relative;
    display: block;
    background: #e74c3c;
    color: white;
    text-align: center;
    -webkit-box-sizing: border-box;
    min-width: 377px;
    height: 40px;
    line-height: 40px;
    -webkit-transform-style: preserve-3d;
  }
  .big span:before, .big span:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    border: 20px solid #d62c1a;
    z-index: -1;
    -webkit-transform: translateZ(-1px);
  }
  .big span:before {
    left: -30px;
    border-left-color: transparent;
  }
  .big span:after {
    right: -30px;
    border-right-color: transparent;
  }
  .big span span:before, .big span span:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -10px;
    border-color: #7b190f transparent transparent transparent;
  }
  .big span span:before {
    left: 0;
    border-width: 10px 0 0 10px;
  }
  .big span span:after {
    right: 0;
    border-width: 10px 10px 0 0;
  }
}

/*=========================
    TABLET
=========================*/
@media only screen and (min-width : 768px) {
    img{
        max-width:100%;
        height:auto;
    }

    span.username{
        margin-top: 16px;
        background-color: #252323;
    }

}


/*=========================
    DESKTOP
=========================*/

@media screen and (min-width: 900px) {
  .big {
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-animation: fadeIn .7s ease-in forwards;
    animation: fadeIn .7s ease-in forwards;
    font-size: 25px;
  }
  .big span {
    width: 100px;
    position: relative;
    display: block;
    background: #e74c3c;
    color: white;
    text-align: center;
    -webkit-box-sizing: border-box;
    min-width: 377px;
    height: 60px;
    line-height: 60px;
    -webkit-transform-style: preserve-3d;
  }
  .big span:before, .big span:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -15px;
    border: 30px solid #d62c1a;
    z-index: -1;
    -webkit-transform: translateZ(-1px);
  }
  .big span:before {
    left: -45px;
    border-left-color: transparent;
  }
  .big span:after {
    right: -45px;
    border-right-color: transparent;
  }
  .big span span:before, .big span span:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -15px;
    border-color: #7b190f transparent transparent transparent;
  }
  .big span span:before {
    left: 0;
    border-width: 15px 0 0 15px;
  }
  .big span span:after {
    right: 0;
    border-width: 15px 15px 0 0;
  }
}