
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmEmail</title>
</head>
<body>
    <div> 
       Congratulation! 
    </div>
    @Html.ActionLink("Login ", "Login", "Home") @Html.Raw(User.Identity.Name)
</body>
</html>
