<header>

    <div class="header_container">
    </div>
    
</header>

<center><h1>Welcome to Organic Launch</h1></center>

<div class="wrapper" style="margin: auto; width: 800px; padding-top:20px; text-align:center;">
    <img src="~/Content/Images/welcome.jpg"  width="800" />
    <h2>Bringing the farm closer to you</h2>
    <p style="padding-top:30px;">Produce is available at your local farm. Search for local produce to eat organic, affordable, and nutritious food.</p>

</div>
