<div id="landing_page">
    <header>

        <div class="header_container">
            <h1>Organic Launch</h1>
            <h2>Our Company's Slogan.</h2>
            <div class="header_a_cont">
                <a href="@Url.Action("Index","Cart")" class="btn btn-primary" style="margin-top:20px;">Shop Now</a>
            </div>
        </div>

    </header>

    <a href="#" id="scroll_bottom"></a>

    <section class="grey_section">
        <h2>Who We Are</h2>
        <p>A little description about who we are and what we do and why we love it. Also, we connect farmers and consumers.</p>
    </section>

    <section>
        <h2>What We Offer</h2> 
        <div>
            <img src="~/Content/Images/animal-countryside-agriculture-farm.jpg" width="250" height="250" alt="cow" />
            <img src="~/Content/Images/food-sunset-love-field.jpg" width="250" height="250" alt="wheat" />
            <img src="~/Content/Images/chickens-866507_640.jpg" width="250" height="250" alt="chickens" />
            <img src="~/Content/Images/fruit-993904_640.jpg"  width="250" height="250" alt="fruits"/>
        </div>
    </section>
</div>